@import url("https://fonts.googleapis.com/css2?family=Saira:wght@200&family=Signika+Negative&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Signika+Negative&display=swap");
.eventContainer {
  border: 3px solid  #ffffff;
  background-color: #f5f5f5;
  border-radius: 20px;
  font-family: "Arvo", serif;
  padding: 10px;
  box-shadow: -3px 2px 10px 0px rgba(0,0,0,0.91);
  width: 300px;
  height: max-content;
  .description-event-card {
    height: 40px;
  }
  .title-event-card {
    font-weight: bold;
  }
  .img-card {
    border-radius: 10px;
    object-fit: cover;
    height: 300px;
  }
  button{
    background-color: #75deff;
  }
  button:hover{
    background-color: #5ab5d1;
    color: white;
  }
}
.eventContainer:hover{
  transform: scale(1.04);
}
h2 {
  font-family: "Saira", sans-serif;
}
